<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
<title>指导意见管理</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.3.3/themes/default/easyui.css"></link>
<link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.3.3/themes/icon.css"></link>
<script type="text/javascript" src="/static/jquery-easyui-1.3.3/jquery.min.js"></script>
<script type="text/javascript" src="/static/jquery-easyui-1.3.3/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/static/jquery-easyui-1.3.3/locale/easyui-lang-zh_CN.js"></script>
    


</head>
<body>
	<table id="dg" title="指导意见管理" class="easyui-datagrid" fitColumns="true"
		pagination="true" rownumbers="true" url="/alladvices"
		fit="true" toolbar="#tb">
		<thead>
			<tr>
				<th field="cb" checkbox="true" align="center"></th>
				<th field="id" width="20" align="center">编号</th>
				<th field="level" width="20" align="center">级别</th>
				<th field="code" width="100" align="center">编码</th>
				<th field="content" width="200" align="center">指导意见</th>
			</tr>
		</thead>
	</table>

	<!-- CRUD 菜单栏 -->
	<div id="tb">
		<div>
			<!--plain="true"去掉边框-->
			<!--<a href="javascript:openLinkAddDialog()" class="easyui-linkbutton" iconCls="icon-add" plain="true">添加</a>-->
			<a href="javascript:openLinkModifyDialog()" class="easyui-linkbutton" iconCls="icon-edit" plain="true">修改</a>
			<!--<a href="javascript:deleteLink()" class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除</a>-->
		</div>
		<div>
			编码：<input style="width: 100px" name="scode" id="scode" />
			<a href="javascript:searchWebSite()" class="easyui-linkbutton" iconCls="icon-search">搜索</a>
		</div>
	</div>
	<!-- 修改框内容 -->
	<div id="dlg" class="easyui-dialog" style="width: 700px; height: 400px; padding: 10px 20px" closed="true" buttons="#dlg-buttons">
		<form id="fm" method="post">
			<table cellspacing="8px">
				<tr>
					<td>级别</td>
					<td><input name="level" clos="200"  rows="5" readonly/></td>
				</tr>
				<tr>
					<td>编码：</td>
					<td><input type="text" id="code" name="code" 
						class="easyui-validatebox" required="true"
						placeholder="只能输入0-9的数字" maxlength="10" 
						  onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" onblur="this.v();" /></td>
				</tr>
				<tr>
					<td>指导意见</td>
					<td><textarea name="content" clos="200"  rows="5"></textarea></td>
				</tr>
			</table>
		</form>
	</div>
	<!-- 修改对话框的 save、close 按钮 -->
	<div id="dlg-buttons">
		<a href="javascript:saveLink()" class="easyui-linkbutton"
			iconCls="icon-ok">保存</a> <a href="javascript:closeLinkDialog()"
			class="easyui-linkbutton" iconCls="icon-cancel">关闭</a>
	</div>
	<script type="text/javascript">
		/* 这个 url 经常要用到：add 中的 save，edit 中的 save，独立出来共享 */
		var url;
		/* 1、添加用户 */
		function openLinkAddDialog() {
			$("#dlg").dialog("open").dialog("setTitle", "添加友情链接信息");
			url = "/addadvice";
		}
		/* 2、修改用户 */
		function openLinkModifyDialog() {
			var selectedRows = $("#dg").datagrid("getSelections");
			if (selectedRows.length != 1) {
				$.messager.alert("系统提示", "请选择一条要编辑的数据！");
				return;
			}
			var row = selectedRows[0];
			/*EasyUI 回显信息*/
			$("#fm").form("load", row);
			$("#dlg").dialog("open").dialog("setTitle", "编辑友情链接信息");
			url = "/addadvice?id=" + row.id;
		}
		/* 3、删除用户 */
		function deleteLink() {
			var selectedRows = $("#dg").datagrid("getSelections");
			if (selectedRows.length == 0) {
				$.messager.alert("系统提示", "请选择要删除的数据！");
				return;
			}
			var strIds = [];
			/*SpringBoot 小于号要求*/
			for (var i = 0; i < selectedRows.length; i++) {
				strIds.push(selectedRows[i].id);
			}
			/* 转化 "1,2,3" 这种格式  */
			var ids = strIds.join(",");
			$.messager.confirm("系统提示", "您确定要删除这<font color='red'>" + selectedRows.length + "</font>条数据吗？", function(r) {
				if (r) {
					$.post("/deladvice", {
						ids : ids
					}, function(result) {
						/* 后台传来一个true */
						if (result.success) {
							$.messager.alert("系统提示", "数据已成功删除！");
							/*数据变动，需要重新加载数据，作用类似刷新网页*/
							$("#dg").datagrid("reload");
						} else {
							$.messager.alert("系统提示", "数据删除失败，请联系管理员！");
						}
					}, "json");
				}
			});
		}
	
		/* save 保存操作，位于 add、edit 中 */
		function saveLink() {
			$("#fm").form("submit", {
				url : url,
				onSubmit : function() {
					/*前端验证，再次使用EasyUI 提供的校验 class*/
					console.log($(this).form("validate")+"");
					return $(this).form("validate");
				},
				success : function(result) {
					var result = eval('(' + result + ')');
					/* 后台传来一个true */
					if (result.success) {
						$.messager.alert("系统提示", "保存成功！");
						resetValue();
						$("#dlg").dialog("close");
						/*数据变动，需要重新加载数据，作用类似刷新网页*/
						$("#dg").datagrid("reload");
					}
				}
			});
		}
	
		/* 清空表单数据 */
		function resetValue() {
			$("#id").val("");
			$("#code").val("");
			$("#content").val("");
		}
		/* 关闭对话框 */
		function closeLinkDialog() {
			resetValue();
			$("#dlg").dialog("close");
		}
		/* 4、增加搜索 */
		function searchWebSite() {
			$("#dg").datagrid("load", {
				code : $("#scode").val()
			})
		}
	</script>
</body>
</html>