<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>群组管理</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
</head>
<body>
<div class="container" id="app">
    <h1 align="center" style="margin: 25px 0">
        <!-- 按钮：用于打开模态框 -->
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" style="float:left;">
            添加群组
        </button>
        群列表
    </h1>
    <table class="table table-hover table-bordered" v-on:load="loadGroups">
        <thead>
        <tr>
            <th>操作</th>
            <th>群头像</th>
            <th>群组名称</th>
            <th>群主账号</th>
            <th>群描述</th>
        </tr>
        </thead>
        <tbody id="groups_body">
        <template v-for="group in groups">
            <tr v-bind:id="group.groupid">
                <td>
                    <button v-on:click="delGroup(group.groupid)" type="button" class="btn btn-danger btn-block btn-lg">删除</button>
                </td>
                <td>
                    <img v-bind:src="group.url" class="img-thumbnail" alt="群头像" width="120" height="120">
                </td>
                <td>{{group.name}}</td>
                <td>{{group.ownerusername}}</td>
                <td>{{group.descr}}</td>
            </tr>
        </template>
        </tbody>
    </table>

    <!-- 模态框 -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title">群组添加</h4>
                    <button type="button" class="close close_btn" data-dismiss="modal">&times;</button>
                </div>

                <!-- 模态框主体 -->
                <div class="modal-body">
                    <div class="container">
                        <form id="group_add_form" method="post" action="/addgroup" enctype="multipart/form-data">
                            <input type="reset" id="resey_btn" style="display: none;"/>
                            <div class="form-group">
                                <label for="gname">群组名称:</label>
                                <input type="text" name="gname" class="form-control" id="gname" v-model="gname">
                            </div>
                            <div class="form-group">
                                <label for="owner">群主账号:</label>
                                <input type="text" name="owner" v-on:blur="queryUser" class="form-control" id="owner" v-model="owner">
                            </div>
                            <div class="form-group">
                                <label for="desc">群描述:</label>
                                <input type="text" name="desc" class="form-control" id="desc" v-model="desc">
                            </div>
                            <div class="form-group">
                                <input type="file" name="file" style="width: 0;height: 0;overflow: hidden;" v-on:change="load_head_img" id="head_img_file">
                                <div style="width: 252px;height: 252px; overflow: hidden; border: 1px solid #000; margin: 0 auto;">
                                    <img v-bind:src="group.headImg == '' ? 'images/img_upload.png' : group.headImg" style="width: 250px;height: 250px; " v-on:click="choose_head_img" id="show_head_img">
                                </div>
                            </div>
                            <div class="form-group" style="margin-top: 35px;">
                                <button type="button" class="btn btn-info btn-block btn-lg" v-on:click="submit_add_group">创建群组</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary close_btn" data-dismiss="modal">关闭</button>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
var vm = new Vue({
    el:"#app",
    data:{
        group:{
            headImg:"",
        },
        owner:"", // 群主账号
        gname:"", // 群名称
        desc:"", // 群描述
        groups:"",
    },
    created : function () {
        this.loadGroups();
        console.log("created groups》》》》》》》》》》")
        console.log("groups :"+this.groups);
    },
    methods:{
        queryUser:function(){
            console.log("owner = "+this.owner);
            $.get("/user/query/"+this.owner,function(result){
                if (result == null || result == "") {
                    alert("不可用指定群主为未注册的账号！！");
                }
            });
        },
        choose_head_img : function () {
          $("#head_img_file").click();
        },
        load_head_img : function() {
            var file = $("#head_img_file").prop('files')[0];
            var reader = new FileReader();
            reader.readAsBinaryString(file);
            reader.onload = function(f){
                var src = "data:" + file.type + ";base64," + window.btoa(this.result);
                $("#show_head_img").attr("src",src);
            }
        },
        loadGroups:function(){
            console.log("vue in loadGroups method");
            this.$http.get('/group/load/all').then(function(result) {
                var obj = eval('('+result.bodyText+')')
                this.groups = obj.groups;
                console.log(obj.groups);
            });
        },
        /**
         * 删除群组
         * */
        delGroup : function (groupId) {
            var confirm = confirm_fun("确定删除该分组？？？");
            if (confirm) {
              this.$http.post("/group/del",{"groupID":groupId},{emulateJSON:true}).then(function(result) {
                  var body = result.body;
                  console.info(body);
                  if (body == "1" || body == 1) {
                      alert("删除成功！");
                      $("#"+groupId).remove();
                  }
              });
            }
        },
        /**
         * 添加群组
         */
        submit_add_group:function () {
            var owner = this.owner;
            var gname = this.gname;
            var desc = this.desc;
            var file = $("#head_img_file").prop('files')[0];
            var data = new FormData($("#group_add_form")[0]);
            if(owner == "" || gname == "" || desc == "" || (file == null || file.length <= 0 )) {
                alert("请完善创建群的信息！！");return;
            }
            var groupList = this.groups;
            this.$http.post("/addgroup",data,{emulateJSON:true}).then(function(resultData) {
                var result = resultData.body;
                if (result.code == 0 || result.code == "0") {
                    alert("群组创建成功！！");
                    $(".close_btn").click();
                    console.info("result.group");
                    console.info(result.data);
                    this.groups.push(result.data);
                } else {
                    alert("创建群组异常，请及时联系管理员！");
                }
            });
        }
    }
});
/**
 * 提示框
 * @param message
 * @returns {*}
 */
var confirm_fun = function(message) {
    return confirm(message);
}
$(".close_btn").click(function(){
    $("#show_head_img").attr("src","images/img_upload.png");
    $("#resey_btn").click();
});
</script>
</body>
</html>